In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'earlycode',
    password = '1234'
)
mycusor =mydb.cursor()
mycusor.execute('SHOW DATABASES')
for x in mycusor:
    print(x)

('football_management_system',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('school_management_system',)
('staff_appointment_system',)
('sys',)
('world',)

In [3]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'earlycode',
    password = '1234',
    database = 'football_management_system'
)
mycusor =mydb.cursor()
mycusor.execute('CREATE TABLE staff_details(id int,S_name varchar(225),S_postion varchar(255),S_country varchar(255),S_dob date)')
for x in mycusor:
    print(x)

In [9]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'earlycode',
    password = '1234',
    database = 'football_management_system'
)
mycursor =mydb.cursor()
sql = 'INSERT INTO staff_details(id,S_name,S_position,S_country,S_dob) VALUES(%s,%s,%s,%s,%s)'
val = [('Michael Phelan','Coach','England','1958-02-26'),
      ()]
mycursor.execute(sql,val)  
mydb.commit()
print(mycusor.rowcount,'record was inserted')

ProgrammingError: Not enough parameters for the SQL statement